* {
    font-family: 'Inter', sans-serif !important;
  }

.nav-link:hover {
    color: #D2CFCF !important;
}
  
#kasir-tabel p {
  margin-bottom: 0;
}
#kasir-kalkulasi p {
  margin-bottom: 0;
}
#kasir-kalkulasi hr {
  margin: 10px 0 10px;
}